@font-face {
  font-family: "Darker Grotesque";
  src: url("assets/fonts/DarkerGrotesque-Regular.ttf");
}
@font-face {
  font-family: "Armatic";
  src: url("assets/fonts/Amatic_SC/AmaticSC-Regular.ttf");
}
@font-face {
  font-family: "Dancing_Script";
  src: url("assets/fonts/Dancing_Script/DancingScript-VariableFont:wght.ttf");
}
body {
  box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
}

h3 {
  line-height: 1.2;
  font-size: 1.5em;
}

h6 {
  font-size: 0.9em;
  color: #a9aaab;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
button {
  background: #e3efff;
  color: #4b84e5;
  padding: 0.95em 1.8em;
  font-size: 0.95rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.d-flex {
  display: flex;
}

.card-post-details {
  color: #000;
  padding: 1em;
  transition-property: all;
  transition-duration: 0.3s;
}

.card-post-details:hover {
  color: #4b84e5;
  padding: 1.5em;
}
.card-post-h3 {
  color: #000;
  transition-property: all;
  transition-duration: 0.3s;
}

.card-post-h3:hover {
  color: #4b84e5;
}
.transform {
  transform: scale(1);
  transition-property: all;
  transition-duration: 0.3s;
}
.transform:hover {
  transform: scale(1.05);
}
.prenom {
  font-family: "Dancing_Script";
}
.navbar-button {
  margin-right: 15px;
  font-size: 1.3em;
}
