@font-face {
    font-family: "Darker Grotesque";
    src: url("assets/fonts/DarkerGrotesque-Regular.ttf");
}

@font-face {
    font-family: "Armatic";
    src: url("assets/fonts/AmaticSC-Regular.ttf");
}

body {
    font-family: "Darker Grotesque", sans-serif;
}
h1 {
    font-family: "Armatic";
}
.navlist-item {
    transition-property: all;
    transition-duration: 0.3s;
}
.navlist-item:hover {
    text-decoration: underline;
}
.img-mj-contact {
    border-radius: 275px;
    height: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.contact-detail {
    text-align: center;
    font-size: larger;
}
.prestation-text-header {
    text-align: center;
    font-size: 180%;
    color: #fff;
    background-image: url(image/fondprestation.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.prestation-text {
    text-align: center;
    font-size: 120%;
}
.prestation-text-etape {
    font-size: 120%;
    position: center;
    width: 600px;
    margin-left: 207px;
    margin-top: 20px;
    text-align: justify;
}
.prestation-box {
    background-color: #e9ecef;
}
.xl-font-size {
    font-size: x-large;
}
.fading-text {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #7984786e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}
.fading-text:hover {
    opacity: 1;
}
.prestation-borders {
    border: 1px solid #5a5a5a;
}
.slide-from-left {
    position: relative;
    left: -100%;
    animation-name: slide-from-left;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.first-element {
    animation-delay: 0s;
}
.second-element {
    animation-delay: 0.5s;
}
.third-element {
    animation-delay: 1s;
}
.fourth-element {
    animation-delay: 1.5s;
}
.fifth-element {
    animation-delay: 2s;
}
.sixth-element {
    animation-delay: 3s;
}
@keyframes slide-from-left {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}
.carrousel {
    max-height: 90vh;
}
.grid-item {
    width: 200px;
}
.grid-item--width2 {
    width: 400px;
}
.link-color {
    color: #212529;
    text-decoration: none;
}
@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
    }
}
.fade-in-element {
    animation: fade-in 1.4s;
}
.fadelement {
    opacity: 0;
}
.font-size-text {
    font-size: 120%;
}
